In [5]:
#Kmeansconstrained installation
! pip install k-means-constrained

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: k-means-constrained in /usr/local/lib/python3.10/dist-packages (0.7.2)
Requirement already satisfied: ortools>=9.4.1874 in /usr/local/lib/python3.10/dist-packages (from k-means-constrained) (9.6.2534)
Requirement already satisfied: scipy>=1.6.3 in /usr/local/lib/python3.10/dist-packages (from k-means-constrained) (1.10.1)
Requirement already satisfied: numpy>=1.23.0 in /usr/local/lib/python3.10/dist-packages (from k-means-constrained) (1.24.3)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from k-means-constrained) (1.16.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from k-means-constrained) (1.2.0)
Requirement already satisfied: absl-py>=0.13 in /usr/local/lib/python3.10/dist-packages (from ortools>=9.4.1874->k-means-constrained) (1.4.0)
Requirement already satisfied: protobuf>=4.21.12 in /usr/local/lib/python3.10/dist-packages (from ortools>=9.4.1874->k-means-constrained) (4.23.0)

In [6]:
from k_means_constrained import KMeansConstrained

In [7]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import csv

In [8]:
X = pd.read_excel('/content/opti file jog_bandra.xlsx')
X[X.columns[0:2]]

           Lat       Long
0    19.055143  72.829607
1    19.072434  72.832850
2    19.128593  72.828008
3    19.061018  72.833670
4    19.074956  72.825888
..         ...        ...
255  19.097200  72.845461
256  19.108259  72.837227
257  19.129688  72.822197
258  19.100388  72.841970
259  19.050659  72.829235

[260 rows x 2 columns]

In [9]:
kmeans = KMeansConstrained(n_clusters=6,size_min=36,size_max=45,
                           init='k-means++',n_init=10,max_iter=200,tol=0.0001,
                           verbose=False,random_state=None,copy_x=True,n_jobs=None)

In [10]:
X['Beat_Name'] = kmeans.fit_predict(X[X.columns[0:2]])

X.head(10)

X.to_excel('/content/Lat-Long.newrand.xlsx')